
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Definitively fix ReactQuill flat list numbering bug */
.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8 list-9 !important;
}
.ql-editor ol li.ql-indent-8 {
  counter-reset: list-9 !important;
}
.ql-editor ol li.ql-indent-9 {
  counter-reset: none !important;
}

@media print {
  @page {
    margin: 20mm;
  }
}
